In [1]:
import pandas as pd
import os

In [2]:
file = os.path.join("emission data.csv")

In [3]:
df = pd.read_csv(file)
df

,Country,1751,1752,1753,1754,1755,1756,1757,1758,1759,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,8.515264e+07,9.191295e+07,1.003652e+08,1.125912e+08,1.233332e+08,1.333337e+08,1.431228e+08,1.532303e+08,1.654882e+08,1.785029e+08
1,Africa,0,0,0,0,0,0,0,0,0,...,3.183077e+10,3.301904e+10,3.421283e+10,3.541120e+10,3.664504e+10,3.789569e+10,3.918617e+10,4.047518e+10,4.178583e+10,4.311757e+10
2,Albania,0,0,0,0,0,0,0,0,0,...,2.287948e+08,2.331696e+08,2.377643e+08,2.430001e+08,2.479062e+08,2.529662e+08,2.586784e+08,2.646261e+08,2.708990e+08,2.772782e+08
3,Algeria,0,0,0,0,0,0,0,0,0,...,2.894820e+09,3.015005e+09,3.132819e+09,3.252626e+09,3.380736e+09,3.513171e+09,3.656348e+09,3.806940e+09,3.957319e+09,4.107870e+09
4,Americas (other),0,0,0,0,0,0,0,0,0,...,7.746025e+10,7.961787e+10,8.187178e+10,8.416656e+10,8.654197e+10,8.894874e+10,9.139192e+10,9.382747e+10,9.624253e+10,9.864116e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Wallis and Futuna Islands,0,0,0,0,0,0,0,0,0,...,2.015200e+05,2.308320e+05,2.601440e+05,2.857920e+05,3.114400e+05,3.334240e+05,3.554080e+05,3.793990e+05,4.036640e+05,4.295730e+05
227,World,9350528,18704720,28058912,37416768,46778288,56784672,66794720,76808432,86825808,...,1.260000e+12,1.290000e+12,1.330000e+12,1.360000e+12,1.400000e+12,1.430000e+12,1.470000e+12,1.500000e+12,1.540000e+12,1.580000e+12
228,Yemen,0,0,0,0,0,0,0,0,0,...,4.285533e+08,4.528009e+08,4.759527e+08,4.954658e+08,5.137040e+08,5.386844e+08,5.609470e+08,5.813316e+08,6.004670e+08,6.194328e+08
229,Zambia,0,0,0,0,0,0,0,0,0,...,1.543919e+08,1.567982e+08,1.593608e+08,1.621534e+08,1.656340e+08,1.693902e+08,1.736459e+08,1.780473e+08,1.826225e+08,1.873686e+08
230,Zimbabwe,0,0,0,0,0,0,0,0,0,...,6.170923e+08,6.226118e+08,6.302928e+08,6.397327e+08,6.473473e+08,6.588835e+08,6.707499e+08,6.816575e+08,6.915901e+08,7.019879e+08

In [4]:
# setting column Country as index"
df.set_index("Country", inplace=True)
df

,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,8.515264e+07,9.191295e+07,1.003652e+08,1.125912e+08,1.233332e+08,1.333337e+08,1.431228e+08,1.532303e+08,1.654882e+08,1.785029e+08
Africa,0,0,0,0,0,0,0,0,0,0,...,3.183077e+10,3.301904e+10,3.421283e+10,3.541120e+10,3.664504e+10,3.789569e+10,3.918617e+10,4.047518e+10,4.178583e+10,4.311757e+10
Albania,0,0,0,0,0,0,0,0,0,0,...,2.287948e+08,2.331696e+08,2.377643e+08,2.430001e+08,2.479062e+08,2.529662e+08,2.586784e+08,2.646261e+08,2.708990e+08,2.772782e+08
Algeria,0,0,0,0,0,0,0,0,0,0,...,2.894820e+09,3.015005e+09,3.132819e+09,3.252626e+09,3.380736e+09,3.513171e+09,3.656348e+09,3.806940e+09,3.957319e+09,4.107870e+09
Americas (other),0,0,0,0,0,0,0,0,0,0,...,7.746025e+10,7.961787e+10,8.187178e+10,8.416656e+10,8.654197e+10,8.894874e+10,9.139192e+10,9.382747e+10,9.624253e+10,9.864116e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna Islands,0,0,0,0,0,0,0,0,0,0,...,2.015200e+05,2.308320e+05,2.601440e+05,2.857920e+05,3.114400e+05,3.334240e+05,3.554080e+05,3.793990e+05,4.036640e+05,4.295730e+05
World,9350528,18704720,28058912,37416768,46778288,56784672,66794720,76808432,86825808,96843184,...,1.260000e+12,1.290000e+12,1.330000e+12,1.360000e+12,1.400000e+12,1.430000e+12,1.470000e+12,1.500000e+12,1.540000e+12,1.580000e+12
Yemen,0,0,0,0,0,0,0,0,0,0,...,4.285533e+08,4.528009e+08,4.759527e+08,4.954658e+08,5.137040e+08,5.386844e+08,5.609470e+08,5.813316e+08,6.004670e+08,6.194328e+08
Zambia,0,0,0,0,0,0,0,0,0,0,...,1.543919e+08,1.567982e+08,1.593608e+08,1.621534e+08,1.656340e+08,1.693902e+08,1.736459e+08,1.780473e+08,1.826225e+08,1.873686e+08
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,6.170923e+08,6.226118e+08,6.302928e+08,6.397327e+08,6.473473e+08,6.588835e+08,6.707499e+08,6.816575e+08,6.915901e+08,7.019879e+08

In [5]:
# selecting desired columns"
df_yrs=df[["2000","2001", "2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013"]]
df_yrs

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,
Afghanistan,7.171779e+07,7.252987e+07,7.359394e+07,7.478101e+07,7.572247e+07,7.704272e+07,7.868596e+07,8.095431e+07,8.515264e+07,9.191295e+07,1.003652e+08,1.125912e+08,1.233332e+08,1.333337e+08
Africa,2.364008e+10,2.451920e+10,2.540335e+10,2.636533e+10,2.739842e+10,2.844249e+10,2.952629e+10,3.065262e+10,3.183077e+10,3.301904e+10,3.421283e+10,3.541120e+10,3.664504e+10,3.789569e+10
Albania,1.969327e+08,2.001533e+08,2.039016e+08,2.081921e+08,2.123544e+08,2.166047e+08,2.204995e+08,2.244237e+08,2.287948e+08,2.331696e+08,2.377643e+08,2.430001e+08,2.479062e+08,2.529662e+08
Algeria,2.118625e+09,2.202405e+09,2.291812e+09,2.382860e+09,2.470713e+09,2.577187e+09,2.677388e+09,2.785788e+09,2.894820e+09,3.015005e+09,3.132819e+09,3.252626e+09,3.380736e+09,3.513171e+09
Americas (other),6.097459e+10,6.290508e+10,6.485794e+10,6.686192e+10,6.887383e+10,7.095078e+10,7.306565e+10,7.523367e+10,7.746025e+10,7.961787e+10,8.187178e+10,8.416656e+10,8.654197e+10,8.894874e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna Islands,0.000000e+00,1.465600e+04,4.030400e+04,6.595200e+04,9.160000e+04,1.209120e+05,1.502240e+05,1.795360e+05,2.015200e+05,2.308320e+05,2.601440e+05,2.857920e+05,3.114400e+05,3.334240e+05
World,1.040000e+12,1.060000e+12,1.090000e+12,1.110000e+12,1.140000e+12,1.170000e+12,1.200000e+12,1.230000e+12,1.260000e+12,1.290000e+12,1.330000e+12,1.360000e+12,1.400000e+12,1.430000e+12
Yemen,2.776305e+08,2.936472e+08,3.092007e+08,3.262832e+08,3.449294e+08,3.647243e+08,3.858093e+08,4.065283e+08,4.285533e+08,4.528009e+08,4.759527e+08,4.954658e+08,5.137040e+08,5.386844e+08
Zambia,1.379202e+08,1.398051e+08,1.417651e+08,1.438407e+08,1.459450e+08,1.481871e+08,1.504187e+08,1.522864e+08,1.543919e+08,1.567982e+08,1.593608e+08,1.621534e+08,1.656340e+08,1.693902e+08
Zimbabwe,5.340318e+08,5.465410e+08,5.584380e+08,5.690464e+08,5.784749e+08,5.891746e+08,5.995394e+08,6.093735e+08,6.170923e+08,6.226118e+08,6.302928e+08,6.397327e+08,6.473473e+08,6.588835e+08

In [6]:
# selecting desired rows
df_countries=df_yrs.loc[["Brazil","United States"], :]
df_countries

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,
Brazil,7.321404e+09,7.654391e+09,7.981826e+09,8.299335e+09,8.633010e+09,8.975096e+09,9.317043e+09,9.673961e+09,1.005431e+10,1.041440e+10,1.082564e+10,1.125583e+10,1.171590e+10,1.220949e+10
United States,3.020000e+11,3.080000e+11,3.140000e+11,3.200000e+11,3.260000e+11,3.320000e+11,3.380000e+11,3.440000e+11,3.500000e+11,3.560000e+11,3.610000e+11,3.670000e+11,3.720000e+11,3.780000e+11

In [7]:
# Stacking columns
df_1=df_countries.stack()
df_1

Country
Brazil         2000    7.321404e+09
               2001    7.654391e+09
               2002    7.981826e+09
               2003    8.299335e+09
               2004    8.633010e+09
               2005    8.975096e+09
               2006    9.317043e+09
               2007    9.673961e+09
               2008    1.005431e+10
               2009    1.041440e+10
               2010    1.082564e+10
               2011    1.125583e+10
               2012    1.171590e+10
               2013    1.220949e+10
United States  2000    3.020000e+11
               2001    3.080000e+11
               2002    3.140000e+11
               2003    3.200000e+11
               2004    3.260000e+11
               2005    3.320000e+11
               2006    3.380000e+11
               2007    3.440000e+11
               2008    3.500000e+11
               2009    3.560000e+11
               2010    3.610000e+11
               2011    3.670000e+11
               2012    3.720000e+11
               2013    3.780000e+11
dtype: float64

In [8]:
# Re-indexing to fill missing cells
df_2=df_1.reset_index()

# Renaming Columns
df_2.columns

df_3=df_2.rename(columns={"level_1":"Year", 0:"Tonnes"})
df_3

          Country  Year        Tonnes
0          Brazil  2000  7.321404e+09
1          Brazil  2001  7.654391e+09
2          Brazil  2002  7.981826e+09
3          Brazil  2003  8.299335e+09
4          Brazil  2004  8.633010e+09
5          Brazil  2005  8.975096e+09
6          Brazil  2006  9.317043e+09
7          Brazil  2007  9.673961e+09
8          Brazil  2008  1.005431e+10
9          Brazil  2009  1.041440e+10
10         Brazil  2010  1.082564e+10
11         Brazil  2011  1.125583e+10
12         Brazil  2012  1.171590e+10
13         Brazil  2013  1.220949e+10
14  United States  2000  3.020000e+11
15  United States  2001  3.080000e+11
16  United States  2002  3.140000e+11
17  United States  2003  3.200000e+11
18  United States  2004  3.260000e+11
19  United States  2005  3.320000e+11
20  United States  2006  3.380000e+11
21  United States  2007  3.440000e+11
22  United States  2008  3.500000e+11
23  United States  2009  3.560000e+11
24  United States  2010  3.610000e+11
25  United States  2011  3.670000e+11
26  United States  2012  3.720000e+11
27  United States  2013  3.780000e+11

In [9]:
#Saving Output
output_file = os.path.join("CleanEmissionData.csv")

df_3.to_csv(output_file, index=False, header=True)

dtype('float64')