#### Import Dependencies

In [1]:
import pandas as pd
import os
import csv
import numpy as np

#### Store filepath in a variable

In [2]:
csv_path = os.path.join("GlobalLandTemperaturesByCountry - Copy.csv")
csv_path

'GlobalLandTemperaturesByCountry - Copy.csv'

In [3]:
temp_df = pd.read_csv(csv_path)
temp_df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,4.384,2.294,Åland
1,1743-12-01,NaN,NaN,Åland
2,1744-01-01,NaN,NaN,Åland
3,1744-02-01,NaN,NaN,Åland
4,1744-03-01,NaN,NaN,Åland
5,1744-04-01,1.530,4.680,Åland
6,1744-05-01,6.702,1.789,Åland
7,1744-06-01,11.609,1.577,Åland
8,1744-07-01,15.342,1.410,Åland
9,1744-08-01,NaN,NaN,Åland
10,1744-09-01,11.702,1.517,Åland
11,1744-10-01,5.477,1.862,Åland
12,1744-11-01,3.407,1.425,Åland
13,1744-12-01,-2.181,1.641,Åland
14,1745-01-01,-3.850,1.841,Åland
15,1745-02-01,-6.575,1.360,Åland
16,1745-03-01,-4.195,1.213,Åland
17,1745-04-01,-0.966,1.172,Åland
18,1745-05-01,NaN,NaN,Åland
19,1745-06-01,NaN,NaN,Åland
20,1745-07-01,NaN,NaN,Åland
21,1745-08-01,NaN,NaN,Åland
22,1745-09-01,NaN,NaN,Åland
23,1745-10-01,NaN,NaN,Åland
24,1745-11-01,NaN,NaN,Åland
25,1745-12-01,NaN,NaN,Åland
26,1746-01-01,NaN,NaN,Åland
27,1746-02-01,NaN,NaN,Åland
28,1746-03-01,NaN,NaN,Åland
29,1746-04-01,NaN,NaN,Åland
...,...,...,...,...
577432,2011-04-01,21.759,0.319,Zimbabwe
577433,2011-05-01,19.627,0.398,Zimbabwe
577434,2011-06-01,16.939,0.599,Zimbabwe
577435,2011-07-01,15.803,0.447,Zimbabwe
577436,2011-08-01,17.883,0.328,Zimbabwe
577437,2011-09-01,22.902,0.612,Zimbabwe
577438,2011-10-01,24.966,0.441,Zimbabwe
577439,2011-11-01,25.521,0.318,Zimbabwe
577440,2011-12-01,24.013,0.356,Zimbabwe
577441,2012-01-01,23.872,0.247,Zimbabwe
577442,2012-02-01,24.294,0.305,Zimbabwe
577443,2012-03-01,23.596,0.354,Zimbabwe
577444,2012-04-01,20.349,0.462,Zimbabwe
577445,2012-05-01,19.712,0.312,Zimbabwe
577446,2012-06-01,16.631,0.277,Zimbabwe
577447,2012-07-01,16.048,0.783,Zimbabwe
577448,2012-08-01,18.946,1.127,Zimbabwe
577449,2012-09-01,22.609,0.643,Zimbabwe
577450,2012-10-01,23.482,0.574,Zimbabwe
577451,2012-11-01,24.606,0.532,Zimbabwe
577452,2012-12-01,24.111,0.846,Zimbabwe
577453,2013-01-01,23.812,1.218,Zimbabwe
577454,2013-02-01,24.075,1.286,Zimbabwe
577455,2013-03-01,23.226,0.564,Zimbabwe
577456,2013-04-01,21.142,0.495,Zimbabwe
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [4]:
temp_df.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [5]:
countries_df = temp_df.loc[(temp_df["Country"]== "Brazil") |(temp_df["Country"]== "United States"),:]
countries_df

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
77110,1832-01-01,24.935,1.372,Brazil
77111,1832-02-01,24.505,1.953,Brazil
77112,1832-03-01,24.617,1.359,Brazil
77113,1832-04-01,23.990,2.013,Brazil
77114,1832-05-01,23.124,1.592,Brazil
77115,1832-06-01,22.924,1.528,Brazil
77116,1832-07-01,22.974,1.930,Brazil
77117,1832-08-01,22.741,1.568,Brazil
77118,1832-09-01,23.560,1.996,Brazil
77119,1832-10-01,24.718,1.592,Brazil
77120,1832-11-01,24.354,0.997,Brazil
77121,1832-12-01,23.861,2.914,Brazil
77122,1833-01-01,25.467,2.016,Brazil
77123,1833-02-01,25.452,1.330,Brazil
77124,1833-03-01,24.421,1.893,Brazil
77125,1833-04-01,24.282,1.378,Brazil
77126,1833-05-01,23.251,1.205,Brazil
77127,1833-06-01,23.001,1.431,Brazil
77128,1833-07-01,22.874,1.221,Brazil
77129,1833-08-01,23.824,1.518,Brazil
77130,1833-09-01,24.636,1.186,Brazil
77131,1833-10-01,24.457,1.136,Brazil
77132,1833-11-01,26.822,1.317,Brazil
77133,1833-12-01,25.727,1.770,Brazil
77134,1834-01-01,23.798,1.419,Brazil
77135,1834-02-01,24.996,1.707,Brazil
77136,1834-03-01,25.350,1.702,Brazil
77137,1834-04-01,24.184,1.738,Brazil
77138,1834-05-01,24.168,1.185,Brazil
77139,1834-06-01,22.409,1.829,Brazil
...,...,...,...,...
557791,2011-04-01,8.582,0.158,United States
557792,2011-05-01,13.759,0.183,United States
557793,2011-06-01,19.578,0.251,United States
557794,2011-07-01,22.722,0.220,United States
557795,2011-08-01,21.915,0.132,United States
557796,2011-09-01,17.148,0.110,United States
557797,2011-10-01,10.490,0.134,United States
557798,2011-11-01,2.966,0.186,United States
557799,2011-12-01,-0.635,0.253,United States
557800,2012-01-01,-2.268,0.232,United States
557801,2012-02-01,0.582,0.182,United States
557802,2012-03-01,6.024,0.138,United States
557803,2012-04-01,10.196,0.278,United States
557804,2012-05-01,15.422,0.196,United States
557805,2012-06-01,19.954,0.273,United States
557806,2012-07-01,23.008,0.278,United States
557807,2012-08-01,21.422,0.251,United States
557808,2012-09-01,17.036,0.185,United States
557809,2012-10-01,9.688,0.225,United States
557810,2012-11-01,3.330,0.120,United States
557811,2012-12-01,-1.261,0.228,United States
557812,2013-01-01,-2.155,0.185,United States
557813,2013-02-01,-1.216,0.216,United States
557814,2013-03-01,2.289,0.222,United States
557815,2013-04-01,6.970,0.221,United States
557816,2013-05-01,14.073,0.178,United States
557817,2013-06-01,20.198,0.236,United States
557818,2013-07-01,22.074,0.152,United States
557819,2013-08-01,21.168,0.249,United States
557820,2013-09-01,18.273,1.210,United States

In [6]:
countries_df['dt'] = pd.to_datetime(countries_df['dt'])
countries_df['Year'] = countries_df['dt'].dt.year
countries_df

C:\Users\Luis\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Luis\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year
77110,1832-01-01,24.935,1.372,Brazil,1832
77111,1832-02-01,24.505,1.953,Brazil,1832
77112,1832-03-01,24.617,1.359,Brazil,1832
77113,1832-04-01,23.990,2.013,Brazil,1832
77114,1832-05-01,23.124,1.592,Brazil,1832
77115,1832-06-01,22.924,1.528,Brazil,1832
77116,1832-07-01,22.974,1.930,Brazil,1832
77117,1832-08-01,22.741,1.568,Brazil,1832
77118,1832-09-01,23.560,1.996,Brazil,1832
77119,1832-10-01,24.718,1.592,Brazil,1832
77120,1832-11-01,24.354,0.997,Brazil,1832
77121,1832-12-01,23.861,2.914,Brazil,1832
77122,1833-01-01,25.467,2.016,Brazil,1833
77123,1833-02-01,25.452,1.330,Brazil,1833
77124,1833-03-01,24.421,1.893,Brazil,1833
77125,1833-04-01,24.282,1.378,Brazil,1833
77126,1833-05-01,23.251,1.205,Brazil,1833
77127,1833-06-01,23.001,1.431,Brazil,1833
77128,1833-07-01,22.874,1.221,Brazil,1833
77129,1833-08-01,23.824,1.518,Brazil,1833
77130,1833-09-01,24.636,1.186,Brazil,1833
77131,1833-10-01,24.457,1.136,Brazil,1833
77132,1833-11-01,26.822,1.317,Brazil,1833
77133,1833-12-01,25.727,1.770,Brazil,1833
77134,1834-01-01,23.798,1.419,Brazil,1834
77135,1834-02-01,24.996,1.707,Brazil,1834
77136,1834-03-01,25.350,1.702,Brazil,1834
77137,1834-04-01,24.184,1.738,Brazil,1834
77138,1834-05-01,24.168,1.185,Brazil,1834
77139,1834-06-01,22.409,1.829,Brazil,1834
...,...,...,...,...,...
557791,2011-04-01,8.582,0.158,United States,2011
557792,2011-05-01,13.759,0.183,United States,2011
557793,2011-06-01,19.578,0.251,United States,2011
557794,2011-07-01,22.722,0.220,United States,2011
557795,2011-08-01,21.915,0.132,United States,2011
557796,2011-09-01,17.148,0.110,United States,2011
557797,2011-10-01,10.490,0.134,United States,2011
557798,2011-11-01,2.966,0.186,United States,2011
557799,2011-12-01,-0.635,0.253,United States,2011
557800,2012-01-01,-2.268,0.232,United States,2012
557801,2012-02-01,0.582,0.182,United States,2012
557802,2012-03-01,6.024,0.138,United States,2012
557803,2012-04-01,10.196,0.278,United States,2012
557804,2012-05-01,15.422,0.196,United States,2012
557805,2012-06-01,19.954,0.273,United States,2012
557806,2012-07-01,23.008,0.278,United States,2012
557807,2012-08-01,21.422,0.251,United States,2012
557808,2012-09-01,17.036,0.185,United States,2012
557809,2012-10-01,9.688,0.225,United States,2012
557810,2012-11-01,3.330,0.120,United States,2012
557811,2012-12-01,-1.261,0.228,United States,2012
557812,2013-01-01,-2.155,0.185,United States,2013
557813,2013-02-01,-1.216,0.216,United States,2013
557814,2013-03-01,2.289,0.222,United States,2013
557815,2013-04-01,6.970,0.221,United States,2013
557816,2013-05-01,14.073,0.178,United States,2013
557817,2013-06-01,20.198,0.236,United States,2013
557818,2013-07-01,22.074,0.152,United States,2013
557819,2013-08-01,21.168,0.249,United States,2013
557820,2013-09-01,18.273,1.210,United States,2013

In [21]:
frame = countries_df.reset_index()
frame

,index,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year
0,77110,1832-01-01,24.935,1.372,Brazil,1832
1,77111,1832-02-01,24.505,1.953,Brazil,1832
2,77112,1832-03-01,24.617,1.359,Brazil,1832
3,77113,1832-04-01,23.990,2.013,Brazil,1832
4,77114,1832-05-01,23.124,1.592,Brazil,1832
5,77115,1832-06-01,22.924,1.528,Brazil,1832
6,77116,1832-07-01,22.974,1.930,Brazil,1832
7,77117,1832-08-01,22.741,1.568,Brazil,1832
8,77118,1832-09-01,23.560,1.996,Brazil,1832
9,77119,1832-10-01,24.718,1.592,Brazil,1832
10,77120,1832-11-01,24.354,0.997,Brazil,1832
11,77121,1832-12-01,23.861,2.914,Brazil,1832
12,77122,1833-01-01,25.467,2.016,Brazil,1833
13,77123,1833-02-01,25.452,1.330,Brazil,1833
14,77124,1833-03-01,24.421,1.893,Brazil,1833
15,77125,1833-04-01,24.282,1.378,Brazil,1833
16,77126,1833-05-01,23.251,1.205,Brazil,1833
17,77127,1833-06-01,23.001,1.431,Brazil,1833
18,77128,1833-07-01,22.874,1.221,Brazil,1833
19,77129,1833-08-01,23.824,1.518,Brazil,1833
20,77130,1833-09-01,24.636,1.186,Brazil,1833
21,77131,1833-10-01,24.457,1.136,Brazil,1833
22,77132,1833-11-01,26.822,1.317,Brazil,1833
23,77133,1833-12-01,25.727,1.770,Brazil,1833
24,77134,1834-01-01,23.798,1.419,Brazil,1834
25,77135,1834-02-01,24.996,1.707,Brazil,1834
26,77136,1834-03-01,25.350,1.702,Brazil,1834
27,77137,1834-04-01,24.184,1.738,Brazil,1834
28,77138,1834-05-01,24.168,1.185,Brazil,1834
29,77139,1834-06-01,22.409,1.829,Brazil,1834
...,...,...,...,...,...,...
5092,557791,2011-04-01,8.582,0.158,United States,2011
5093,557792,2011-05-01,13.759,0.183,United States,2011
5094,557793,2011-06-01,19.578,0.251,United States,2011
5095,557794,2011-07-01,22.722,0.220,United States,2011
5096,557795,2011-08-01,21.915,0.132,United States,2011
5097,557796,2011-09-01,17.148,0.110,United States,2011
5098,557797,2011-10-01,10.490,0.134,United States,2011
5099,557798,2011-11-01,2.966,0.186,United States,2011
5100,557799,2011-12-01,-0.635,0.253,United States,2011
5101,557800,2012-01-01,-2.268,0.232,United States,2012
5102,557801,2012-02-01,0.582,0.182,United States,2012
5103,557802,2012-03-01,6.024,0.138,United States,2012
5104,557803,2012-04-01,10.196,0.278,United States,2012
5105,557804,2012-05-01,15.422,0.196,United States,2012
5106,557805,2012-06-01,19.954,0.273,United States,2012
5107,557806,2012-07-01,23.008,0.278,United States,2012
5108,557807,2012-08-01,21.422,0.251,United States,2012
5109,557808,2012-09-01,17.036,0.185,United States,2012
5110,557809,2012-10-01,9.688,0.225,United States,2012
5111,557810,2012-11-01,3.330,0.120,United States,2012
5112,557811,2012-12-01,-1.261,0.228,United States,2012
5113,557812,2013-01-01,-2.155,0.185,United States,2013
5114,557813,2013-02-01,-1.216,0.216,United States,2013
5115,557814,2013-03-01,2.289,0.222,United States,2013
5116,557815,2013-04-01,6.970,0.221,United States,2013
5117,557816,2013-05-01,14.073,0.178,United States,2013
5118,557817,2013-06-01,20.198,0.236,United States,2013
5119,557818,2013-07-01,22.074,0.152,United States,2013
5120,557819,2013-08-01,21.168,0.249,United States,2013
5121,557820,2013-09-01,18.273,1.210,United States,2013

In [33]:
frame_v1 = frame.drop(frame.index[0:2016])
frame_v1

,index,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year
2016,79126,2000-01-01,25.653,0.155,Brazil,2000
2017,79127,2000-02-01,25.463,0.162,Brazil,2000
2018,79128,2000-03-01,25.446,0.187,Brazil,2000
2019,79129,2000-04-01,25.102,0.092,Brazil,2000
2020,79130,2000-05-01,24.614,0.216,Brazil,2000
2021,79131,2000-06-01,24.268,0.246,Brazil,2000
2022,79132,2000-07-01,23.170,0.178,Brazil,2000
2023,79133,2000-08-01,25.110,0.195,Brazil,2000
2024,79134,2000-09-01,25.381,0.134,Brazil,2000
2025,79135,2000-10-01,26.393,0.134,Brazil,2000
2026,79136,2000-11-01,25.916,0.098,Brazil,2000
2027,79137,2000-12-01,25.842,0.184,Brazil,2000
2028,79138,2001-01-01,25.550,0.171,Brazil,2001
2029,79139,2001-02-01,25.881,0.227,Brazil,2001
2030,79140,2001-03-01,25.882,0.138,Brazil,2001
2031,79141,2001-04-01,25.820,0.175,Brazil,2001
2032,79142,2001-05-01,24.840,0.175,Brazil,2001
2033,79143,2001-06-01,23.497,0.225,Brazil,2001
2034,79144,2001-07-01,24.344,0.143,Brazil,2001
2035,79145,2001-08-01,25.441,0.182,Brazil,2001
2036,79146,2001-09-01,26.014,0.142,Brazil,2001
2037,79147,2001-10-01,26.253,0.129,Brazil,2001
2038,79148,2001-11-01,26.507,0.168,Brazil,2001
2039,79149,2001-12-01,26.024,0.164,Brazil,2001
2040,79150,2002-01-01,25.837,0.199,Brazil,2002
2041,79151,2002-02-01,25.868,0.133,Brazil,2002
2042,79152,2002-03-01,26.311,0.161,Brazil,2002
2043,79153,2002-04-01,25.881,0.115,Brazil,2002
2044,79154,2002-05-01,25.363,0.211,Brazil,2002
2045,79155,2002-06-01,24.242,0.210,Brazil,2002
...,...,...,...,...,...,...
5092,557791,2011-04-01,8.582,0.158,United States,2011
5093,557792,2011-05-01,13.759,0.183,United States,2011
5094,557793,2011-06-01,19.578,0.251,United States,2011
5095,557794,2011-07-01,22.722,0.220,United States,2011
5096,557795,2011-08-01,21.915,0.132,United States,2011
5097,557796,2011-09-01,17.148,0.110,United States,2011
5098,557797,2011-10-01,10.490,0.134,United States,2011
5099,557798,2011-11-01,2.966,0.186,United States,2011
5100,557799,2011-12-01,-0.635,0.253,United States,2011
5101,557800,2012-01-01,-2.268,0.232,United States,2012
5102,557801,2012-02-01,0.582,0.182,United States,2012
5103,557802,2012-03-01,6.024,0.138,United States,2012
5104,557803,2012-04-01,10.196,0.278,United States,2012
5105,557804,2012-05-01,15.422,0.196,United States,2012
5106,557805,2012-06-01,19.954,0.273,United States,2012
5107,557806,2012-07-01,23.008,0.278,United States,2012
5108,557807,2012-08-01,21.422,0.251,United States,2012
5109,557808,2012-09-01,17.036,0.185,United States,2012
5110,557809,2012-10-01,9.688,0.225,United States,2012
5111,557810,2012-11-01,3.330,0.120,United States,2012
5112,557811,2012-12-01,-1.261,0.228,United States,2012
5113,557812,2013-01-01,-2.155,0.185,United States,2013
5114,557813,2013-02-01,-1.216,0.216,United States,2013
5115,557814,2013-03-01,2.289,0.222,United States,2013
5116,557815,2013-04-01,6.970,0.221,United States,2013
5117,557816,2013-05-01,14.073,0.178,United States,2013
5118,557817,2013-06-01,20.198,0.236,United States,2013
5119,557818,2013-07-01,22.074,0.152,United States,2013
5120,557819,2013-08-01,21.168,0.249,United States,2013
5121,557820,2013-09-01,18.273,1.210,United States,2013

In [34]:
frame_v2 = frame_v1.reset_index()
frame_v2

,level_0,index,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year
0,2016,79126,2000-01-01,25.653,0.155,Brazil,2000
1,2017,79127,2000-02-01,25.463,0.162,Brazil,2000
2,2018,79128,2000-03-01,25.446,0.187,Brazil,2000
3,2019,79129,2000-04-01,25.102,0.092,Brazil,2000
4,2020,79130,2000-05-01,24.614,0.216,Brazil,2000
5,2021,79131,2000-06-01,24.268,0.246,Brazil,2000
6,2022,79132,2000-07-01,23.170,0.178,Brazil,2000
7,2023,79133,2000-08-01,25.110,0.195,Brazil,2000
8,2024,79134,2000-09-01,25.381,0.134,Brazil,2000
9,2025,79135,2000-10-01,26.393,0.134,Brazil,2000
10,2026,79136,2000-11-01,25.916,0.098,Brazil,2000
11,2027,79137,2000-12-01,25.842,0.184,Brazil,2000
12,2028,79138,2001-01-01,25.550,0.171,Brazil,2001
13,2029,79139,2001-02-01,25.881,0.227,Brazil,2001
14,2030,79140,2001-03-01,25.882,0.138,Brazil,2001
15,2031,79141,2001-04-01,25.820,0.175,Brazil,2001
16,2032,79142,2001-05-01,24.840,0.175,Brazil,2001
17,2033,79143,2001-06-01,23.497,0.225,Brazil,2001
18,2034,79144,2001-07-01,24.344,0.143,Brazil,2001
19,2035,79145,2001-08-01,25.441,0.182,Brazil,2001
20,2036,79146,2001-09-01,26.014,0.142,Brazil,2001
21,2037,79147,2001-10-01,26.253,0.129,Brazil,2001
22,2038,79148,2001-11-01,26.507,0.168,Brazil,2001
23,2039,79149,2001-12-01,26.024,0.164,Brazil,2001
24,2040,79150,2002-01-01,25.837,0.199,Brazil,2002
25,2041,79151,2002-02-01,25.868,0.133,Brazil,2002
26,2042,79152,2002-03-01,26.311,0.161,Brazil,2002
27,2043,79153,2002-04-01,25.881,0.115,Brazil,2002
28,2044,79154,2002-05-01,25.363,0.211,Brazil,2002
29,2045,79155,2002-06-01,24.242,0.210,Brazil,2002
...,...,...,...,...,...,...,...
3076,5092,557791,2011-04-01,8.582,0.158,United States,2011
3077,5093,557792,2011-05-01,13.759,0.183,United States,2011
3078,5094,557793,2011-06-01,19.578,0.251,United States,2011
3079,5095,557794,2011-07-01,22.722,0.220,United States,2011
3080,5096,557795,2011-08-01,21.915,0.132,United States,2011
3081,5097,557796,2011-09-01,17.148,0.110,United States,2011
3082,5098,557797,2011-10-01,10.490,0.134,United States,2011
3083,5099,557798,2011-11-01,2.966,0.186,United States,2011
3084,5100,557799,2011-12-01,-0.635,0.253,United States,2011
3085,5101,557800,2012-01-01,-2.268,0.232,United States,2012
3086,5102,557801,2012-02-01,0.582,0.182,United States,2012
3087,5103,557802,2012-03-01,6.024,0.138,United States,2012
3088,5104,557803,2012-04-01,10.196,0.278,United States,2012
3089,5105,557804,2012-05-01,15.422,0.196,United States,2012
3090,5106,557805,2012-06-01,19.954,0.273,United States,2012
3091,5107,557806,2012-07-01,23.008,0.278,United States,2012
3092,5108,557807,2012-08-01,21.422,0.251,United States,2012
3093,5109,557808,2012-09-01,17.036,0.185,United States,2012
3094,5110,557809,2012-10-01,9.688,0.225,United States,2012
3095,5111,557810,2012-11-01,3.330,0.120,United States,2012
3096,5112,557811,2012-12-01,-1.261,0.228,United States,2012
3097,5113,557812,2013-01-01,-2.155,0.185,United States,2013
3098,5114,557813,2013-02-01,-1.216,0.216,United States,2013
3099,5115,557814,2013-03-01,2.289,0.222,United States,2013
3100,5116,557815,2013-04-01,6.970,0.221,United States,2013
3101,5117,557816,2013-05-01,14.073,0.178,United States,2013
3102,5118,557817,2013-06-01,20.198,0.236,United States,2013
3103,5119,557818,2013-07-01,22.074,0.152,United States,2013
3104,5120,557819,2013-08-01,21.168,0.249,United States,2013
3105,5121,557820,2013-09-01,18.273,1.210,United States,2013

In [49]:
frame_v3 = frame_v2.drop(frame_v2.index[165:2941])
frame_v3

,level_0,index,dt,AverageTemperature,AverageTemperatureUncertainty,Country,Year
0,2016,79126,2000-01-01,25.653,0.155,Brazil,2000
1,2017,79127,2000-02-01,25.463,0.162,Brazil,2000
2,2018,79128,2000-03-01,25.446,0.187,Brazil,2000
3,2019,79129,2000-04-01,25.102,0.092,Brazil,2000
4,2020,79130,2000-05-01,24.614,0.216,Brazil,2000
5,2021,79131,2000-06-01,24.268,0.246,Brazil,2000
6,2022,79132,2000-07-01,23.170,0.178,Brazil,2000
7,2023,79133,2000-08-01,25.110,0.195,Brazil,2000
8,2024,79134,2000-09-01,25.381,0.134,Brazil,2000
9,2025,79135,2000-10-01,26.393,0.134,Brazil,2000
10,2026,79136,2000-11-01,25.916,0.098,Brazil,2000
11,2027,79137,2000-12-01,25.842,0.184,Brazil,2000
12,2028,79138,2001-01-01,25.550,0.171,Brazil,2001
13,2029,79139,2001-02-01,25.881,0.227,Brazil,2001
14,2030,79140,2001-03-01,25.882,0.138,Brazil,2001
15,2031,79141,2001-04-01,25.820,0.175,Brazil,2001
16,2032,79142,2001-05-01,24.840,0.175,Brazil,2001
17,2033,79143,2001-06-01,23.497,0.225,Brazil,2001
18,2034,79144,2001-07-01,24.344,0.143,Brazil,2001
19,2035,79145,2001-08-01,25.441,0.182,Brazil,2001
20,2036,79146,2001-09-01,26.014,0.142,Brazil,2001
21,2037,79147,2001-10-01,26.253,0.129,Brazil,2001
22,2038,79148,2001-11-01,26.507,0.168,Brazil,2001
23,2039,79149,2001-12-01,26.024,0.164,Brazil,2001
24,2040,79150,2002-01-01,25.837,0.199,Brazil,2002
25,2041,79151,2002-02-01,25.868,0.133,Brazil,2002
26,2042,79152,2002-03-01,26.311,0.161,Brazil,2002
27,2043,79153,2002-04-01,25.881,0.115,Brazil,2002
28,2044,79154,2002-05-01,25.363,0.211,Brazil,2002
29,2045,79155,2002-06-01,24.242,0.210,Brazil,2002
...,...,...,...,...,...,...,...
3076,5092,557791,2011-04-01,8.582,0.158,United States,2011
3077,5093,557792,2011-05-01,13.759,0.183,United States,2011
3078,5094,557793,2011-06-01,19.578,0.251,United States,2011
3079,5095,557794,2011-07-01,22.722,0.220,United States,2011
3080,5096,557795,2011-08-01,21.915,0.132,United States,2011
3081,5097,557796,2011-09-01,17.148,0.110,United States,2011
3082,5098,557797,2011-10-01,10.490,0.134,United States,2011
3083,5099,557798,2011-11-01,2.966,0.186,United States,2011
3084,5100,557799,2011-12-01,-0.635,0.253,United States,2011
3085,5101,557800,2012-01-01,-2.268,0.232,United States,2012
3086,5102,557801,2012-02-01,0.582,0.182,United States,2012
3087,5103,557802,2012-03-01,6.024,0.138,United States,2012
3088,5104,557803,2012-04-01,10.196,0.278,United States,2012
3089,5105,557804,2012-05-01,15.422,0.196,United States,2012
3090,5106,557805,2012-06-01,19.954,0.273,United States,2012
3091,5107,557806,2012-07-01,23.008,0.278,United States,2012
3092,5108,557807,2012-08-01,21.422,0.251,United States,2012
3093,5109,557808,2012-09-01,17.036,0.185,United States,2012
3094,5110,557809,2012-10-01,9.688,0.225,United States,2012
3095,5111,557810,2012-11-01,3.330,0.120,United States,2012
3096,5112,557811,2012-12-01,-1.261,0.228,United States,2012
3097,5113,557812,2013-01-01,-2.155,0.185,United States,2013
3098,5114,557813,2013-02-01,-1.216,0.216,United States,2013
3099,5115,557814,2013-03-01,2.289,0.222,United States,2013
3100,5116,557815,2013-04-01,6.970,0.221,United States,2013
3101,5117,557816,2013-05-01,14.073,0.178,United States,2013
3102,5118,557817,2013-06-01,20.198,0.236,United States,2013
3103,5119,557818,2013-07-01,22.074,0.152,United States,2013
3104,5120,557819,2013-08-01,21.168,0.249,United States,2013
3105,5121,557820,2013-09-01,18.273,1.210,United States,2013

In [50]:
frame_temperature_f = frame_v3.drop(columns=['level_0', 'index', 'dt', 'AverageTemperatureUncertainty'])
frame_temperature_f

      AverageTemperature        Country  Year
0                 25.653         Brazil  2000
1                 25.463         Brazil  2000
2                 25.446         Brazil  2000
3                 25.102         Brazil  2000
4                 24.614         Brazil  2000
5                 24.268         Brazil  2000
6                 23.170         Brazil  2000
7                 25.110         Brazil  2000
8                 25.381         Brazil  2000
9                 26.393         Brazil  2000
10                25.916         Brazil  2000
11                25.842         Brazil  2000
12                25.550         Brazil  2001
13                25.881         Brazil  2001
14                25.882         Brazil  2001
15                25.820         Brazil  2001
16                24.840         Brazil  2001
17                23.497         Brazil  2001
18                24.344         Brazil  2001
19                25.441         Brazil  2001
20                26.014         Brazil  2001
21                26.253         Brazil  2001
22                26.507         Brazil  2001
23                26.024         Brazil  2001
24                25.837         Brazil  2002
25                25.868         Brazil  2002
26                26.311         Brazil  2002
27                25.881         Brazil  2002
28                25.363         Brazil  2002
29                24.242         Brazil  2002
...                  ...            ...   ...
3076               8.582  United States  2011
3077              13.759  United States  2011
3078              19.578  United States  2011
3079              22.722  United States  2011
3080              21.915  United States  2011
3081              17.148  United States  2011
3082              10.490  United States  2011
3083               2.966  United States  2011
3084              -0.635  United States  2011
3085              -2.268  United States  2012
3086               0.582  United States  2012
3087               6.024  United States  2012
3088              10.196  United States  2012
3089              15.422  United States  2012
3090              19.954  United States  2012
3091              23.008  United States  2012
3092              21.422  United States  2012
3093              17.036  United States  2012
3094               9.688  United States  2012
3095               3.330  United States  2012
3096              -1.261  United States  2012
3097              -2.155  United States  2013
3098              -1.216  United States  2013
3099               2.289  United States  2013
3100               6.970  United States  2013
3101              14.073  United States  2013
3102              20.198  United States  2013
3103              22.074  United States  2013
3104              21.168  United States  2013
3105              18.273  United States  2013

[330 rows x 3 columns]

In [52]:
frame_temperature_f2 = frame_temperature_f.groupby(['Country','Year']).max()
frame_temperature_f2

                    AverageTemperature
Country       Year
Brazil        2000              26.393
              2001              26.507
              2002              26.956
              2003              26.540
              2004              26.486
              2005              26.794
              2006              26.301
              2007              26.689
              2008              26.678
              2009              27.151
              2010              26.802
              2011              26.373
              2012              27.120
              2013              26.239
United States 2000              21.605
              2001              21.907
              2002              22.675
              2003              22.499
              2004              21.663
              2005              22.478
              2006              22.911
              2007              22.352
              2008              21.690
              2009              21.463
              2010              22.078
              2011              22.722
              2012              23.008
              2013              22.074

In [61]:
frame_temperature_f3 = frame_temperature_f2.rename(columns={'AverageTemperature': 'Max Annual Temperature C'})
frame_temperature_f3

                    Max Annual Temperature C
Country       Year
Brazil        2000                    26.393
              2001                    26.507
              2002                    26.956
              2003                    26.540
              2004                    26.486
              2005                    26.794
              2006                    26.301
              2007                    26.689
              2008                    26.678
              2009                    27.151
              2010                    26.802
              2011                    26.373
              2012                    27.120
              2013                    26.239
United States 2000                    21.605
              2001                    21.907
              2002                    22.675
              2003                    22.499
              2004                    21.663
              2005                    22.478
              2006                    22.911
              2007                    22.352
              2008                    21.690
              2009                    21.463
              2010                    22.078
              2011                    22.722
              2012                    23.008
              2013                    22.074

In [62]:
frame_temperature_final = frame_temperature_f3.reset_index()
frame_temperature_final

          Country  Year  Max Annual Temperature C
0          Brazil  2000                    26.393
1          Brazil  2001                    26.507
2          Brazil  2002                    26.956
3          Brazil  2003                    26.540
4          Brazil  2004                    26.486
5          Brazil  2005                    26.794
6          Brazil  2006                    26.301
7          Brazil  2007                    26.689
8          Brazil  2008                    26.678
9          Brazil  2009                    27.151
10         Brazil  2010                    26.802
11         Brazil  2011                    26.373
12         Brazil  2012                    27.120
13         Brazil  2013                    26.239
14  United States  2000                    21.605
15  United States  2001                    21.907
16  United States  2002                    22.675
17  United States  2003                    22.499
18  United States  2004                    21.663
19  United States  2005                    22.478
20  United States  2006                    22.911
21  United States  2007                    22.352
22  United States  2008                    21.690
23  United States  2009                    21.463
24  United States  2010                    22.078
25  United States  2011                    22.722
26  United States  2012                    23.008
27  United States  2013                    22.074

In [85]:
output_file = os.path.join("MaxTemperature.csv")
frame_temperature_final.to_csv(output_file, index=False, header=True)